{{ define "main" }}
  <section id="home">
    <div class="content">
      <h1>{{ .Title }}</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Tristique senectus
        et netus et malesuada fames ac. Interdum varius sit amet mattis
        vulputate enim. Pellentesque pulvinar pellentesque habitant morbi
        tristique senectus et netus et. Eget sit amet tellus cras. Amet tellus
        cras adipiscing enim eu turpis. Ac turpis egestas integer eget aliquet.
        Fermentum iaculis eu non diam. Integer eget aliquet nibh praesent
        tristique magna sit amet purus. Amet justo donec enim diam vulputate ut
        pharetra sit. Magna etiam tempor orci eu lobortis elementum nibh.
      </p>
    </div>
    {{ partial "widgets/color-pop" . }}
  </section>
  <button
    class="contrast switcher theme-switcher"
    aria-label="Turn off dark mode"
  >
    <i>Turn off dark mode</i>
  </button>
{{ end }}
