#blog h1 {
	text-align: center;
}
#blog a {
  text-decoration: none;
  --color: var(--color);
}

#blog small {
  text-decoration: underline;
}
#blog ul {
  max-width: 1400px;
  margin: 0 auto;
}

#blog li {
  padding: 1rem;
  list-style-type: none;
}

#blog img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.blog-item-pagination {
  display: flex;
  justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 2rem 0;
	& > div {
		display: flex;
		align-items: center;
	}
  & a {
	  --color: var(--color);
		font-size: 1.5rem;
		font-weight: 500;
  }
  & svg {
		display: block;
    stroke: var(--color);
    width: 2rem;
    height: 2rem;
		align-self: flex-start;
  }

	& .caret-left {
		margin-right: 1rem;
	}
	& .caret-right {
		margin-left: 1rem;
	}
}
