#color-pop {
	background-color: #14684e;
}


#color-pop .row {
align-items: center;
justify-content: center;
padding: 6rem 3rem;
max-width: 1000px;
}

#color-pop img {
	height: 100%;
	aspect-ratio: 3/4;
	object-fit: cover;
	object-position: 30%;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#color-pop {
	h1, h2, h3, h4, h5, h6 {
	color: #e6e6e6;
	}
}

